.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #1f1f1f;
    float: left;
    max-width: 70%;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #3887dc;
    font-weight: bold;
  } 
  
  .data-table tr:hover {
    background-color: #427aa1;
  }
  