.mainContainer {
    height: 60vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.leftContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 45vh;
    background: linear-gradient(45deg, #8396a4, #3b80c8);
    font-size: 2.4rem;
    border-radius: 8px;
    border-radius: 8px 0px 0px 8px;
}

.rightContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 45vw;
    height: 45vh;
    background: linear-gradient(135deg, #ebebf3, #d0e7e7);
    border-radius: 0px 8px 8px 0px;
}